In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [8]:
data = 'Fortune500.csv'
df = pd.read_csv(data)

In [ ]:
print(df.shape)
print(df.head())

(500, 23)

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         500 non-null    int64
 1   Title        500 non-null    object
 2   Website      500 non-null    object
 3   Employees    500 non-null    int64
 4   Sector       500 non-null    object
 5   Industry     500 non-null    object
 6   Hqlocation   500 non-null    object
 7   Hqaddr       500 non-null    object
 8   Hqcity       500 non-null    object
 9   Hqstate      500 non-null    object
 10  Hqzip        500 non-null    int64
 11  Hqtel        500 non-null    object
 12  Ceo          500 non-null    object
 13  Ceo-title    500 non-null    object
 14  Address      500 non-null    object
 15  Ticker       500 non-null    object
 16  Fullname     500 non-null    object
 17  Revenues     500 non-null    int64
 18  Revchange    500 non-null    float64
 19  Profits      500 non-null    float64
 20  Prftchange   500 non-null    object
 21  Assets       500 non-null    int64
 22  Totshequity  500 non-null    float64
dtypes: float64(3), int64(5), object(15)
memory usage: 90.0+ KB
None

In [12]:
print(df.isnull().sum())

Rank           0
Title          0
Website        0
Employees      0
Sector         0
Industry       0
Hqlocation     0
Hqaddr         0
Hqcity         0
Hqstate        0
Hqzip          0
Hqtel          0
Ceo            0
Ceo-title      0
Address        0
Ticker         0
Fullname       0
Revenues       0
Revchange      0
Profits        0
Prftchange     0
Assets         0
Totshequity    0
dtype: int64

In [ ]:
df.describe(include=('object'))
df.describe(include='all')

,Title,Website,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqtel,Ceo,Ceo-title,Address,Ticker,Fullname,Prftchange
count,500,500,500,500,500,500,500,500,500,500,500,500,500,500,500
unique,500,499,21,73,246,491,239,37,499,496,12,494,468,500,377
top,Walmart,http://www.abbott.com,Financials,Utilities: Gas and Electric,"New York, NY",12300 Liberty Blvd.,New York,NY,650-857-1501,Gregory J. Goff,"President, Chief Executive Officer & Director","400 Atlantic St., Stamford, CT 06901",NFLX,"Wal-Mart Stores, Inc.",5.2
freq,1,2,84,22,45,2,45,54,2,2,189,2,3,1,6

In [ ]:
mean = df['Revenues'].mean()
employee_mean = df['Employees'].mean()
print(mean)
print(employee_mean)

24111.748
56350.132

In [15]:
median = df['Revenues'].median()
employee_median = df['Employees'].median()
print(median)
print(employee_median)

11384.0
25000.0

In [ ]:
data = df['Revenues']
sns.distplot(data, bins=10, hist=True, kde=True, label='Revenue (in millions)')